Potree_result/resources/pointclouds/deltagoot_0
Potree_result/resources/pointclouds/deltagoot_2
Potree_result/resources/pointclouds/deltagoot_3
Potree_result/resources/pointclouds/deltagoot_4
Potree_result/resources/pointclouds/deltagoot_5
Potree_result/resources/pointclouds/deltagoot_6
